In [1]:
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

import pandas as pd
import numpy as np
import math
import random
import folium

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import timedelta

import warnings
warnings.filterwarnings('ignore')

#collors
cnf = '#393e46'
dtth = '#ff2e63'
rec = '#21bf73'
act = '#fe9801'

In [2]:
#dataset preparation
import plotly as py
py.offline.init_notebook_mode(connected=True)

In [21]:
df = pd.read_csv("S:\gits_stella\Python\covid-19\dados\preprocessed\covid_19_data_cleaned.csv", parse_dates=['Date'])

In [23]:
df['Province/State'] = df['Province/State'].fillna("")
df.head()

,Date,Province/State,Country,Lat,Long,Confirmed,Recovered,Deaths,Active
0,2020-01-22,,Afghanistan,33.93911,67.709953,0,0,0,0
1,2020-01-23,,Afghanistan,33.93911,67.709953,0,0,0,0
2,2020-01-24,,Afghanistan,33.93911,67.709953,0,0,0,0
3,2020-01-25,,Afghanistan,33.93911,67.709953,0,0,0,0
4,2020-01-26,,Afghanistan,33.93911,67.709953,0,0,0,0

In [34]:
#date preparation
country_daywise = pd.read_csv("S:\gits_stella\Python\covid-19\dados\preprocessed\country_daywise.csv", parse_dates=['Date'])

country_wise = pd.read_csv(
    "S:\gits_stella\Python\covid-19\dados\preprocessed\countrywise.csv")

daywise = pd.read_csv(
    "S:\gits_stella\Python\covid-19\dados\preprocessed\daywise.csv", parse_dates = ['Date'])

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163875 entries, 0 to 163874
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            163875 non-null  datetime64[ns]
 1   Province/State  163875 non-null  object
 2   Country         163875 non-null  object
 3   Lat             163875 non-null  float64
 4   Long            163875 non-null  float64
 5   Confirmed       163875 non-null  int64
 6   Recovered       163875 non-null  int64
 7   Deaths          163875 non-null  int64
 8   Active          163875 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 11.3+ MB

In [29]:
confimed_cases = df.groupby(['Date'])['Confirmed'].sum().reset_index()
recovered_cases = df.groupby(['Date'])['Recovered'].sum().reset_index()
deaths = df.groupby(['Date'])['Deaths'].sum().reset_index()

In [39]:
df.query('Country == "US"')

,Date,Province/State,Country,Lat,Long,Confirmed,Recovered,Deaths,Active
146050,2020-01-22,,US,40.0,-100.0,1,0,0,1
146051,2020-01-23,,US,40.0,-100.0,1,0,0,1
146052,2020-01-24,,US,40.0,-100.0,2,0,0,2
146053,2020-01-25,,US,40.0,-100.0,2,0,0,2
146054,2020-01-26,,US,40.0,-100.0,5,0,0,5
...,...,...,...,...,...,...,...,...,...
146620,2021-08-14,,US,40.0,-100.0,36640271,0,621255,36019016
146621,2021-08-15,,US,40.0,-100.0,36678753,0,621425,36057328
146622,2021-08-16,,US,40.0,-100.0,36888952,0,622111,36266841
146623,2021-08-17,,US,40.0,-100.0,37017854,0,623112,36394742
146624,2021-08-18,,US,40.0,-100.0,37155669,0,624257,36531412

In [41]:
recovered_cases.tail()

          Date  Recovered
570 2021-08-14          0
571 2021-08-15          0
572 2021-08-16          0
573 2021-08-17          0
574 2021-08-18          0